<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="crystalQuartz" type="CrystalQuartz.Web.Configuration.CrystalQuartzConfigurationGroup">
      <section name="provider" type="CrystalQuartz.Web.Configuration.ProviderSectionHandler" requirePermission="false" allowDefinition="Everywhere"/>
    </sectionGroup>

    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

  <crystalQuartz>
    <provider>
      <add property="Type" value="CrystalQuartz.Spring.SpringSchedulerProvider, CrystalQuartz.Spring" />
      <add property="SchedulerName" value="scheduler" />
    </provider>
  </crystalQuartz>

  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>

    <!--
    *************************************************************************************
    Spring.NET context configuration for scheduler instantiation. 
      Note that this config is just for demonstration purposes and it does not follow best 
      practices in Spring+Quartz integration.
    ************************************************************************************* -->
    <objects xmlns="http://www.springframework.net">
      <object id="schedulerFactory" type="Quartz.Impl.StdSchedulerFactory, Quartz">
      </object>

      <object id="scheduler" factory-object="schedulerFactory" factory-method="GetScheduler">
      </object>
    </objects>
  </spring>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <authentication mode="Windows"/>
    <httpHandlers>
      <add verb="*" path="CrystalQuartzPanel.axd" type="CrystalQuartz.Web.PagesHandler, CrystalQuartz.Web" validate="false"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>
